<app-server></app-server>
<hr />

<h3> Property binding</h3>
<p>
  <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
  the button use "property binding"
</p>
<p> {{serverCreationStatus}}</p>
<hr />

<h3>Event binding & Two Way Databinding</h3>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" placeholder="Event binding">
<input type="text" class="form-control" [(ngModel)]="serverName" placeholder="Two Way Databinding">
Result: {{serverName}}

<hr />
