<app-server></app-server>
<hr />

<h3> Property binding</h3>
<p>
  <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
  the button use "property binding"
</p>
<p> {{serverCreationStatus}}</p>
<hr />

<h3>Event binding & Two Way Databinding</h3>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" placeholder="Event binding">
<input type="text" class="form-control" [(ngModel)]="serverName" placeholder="Two Way Databinding">
Result: {{serverName}}

<hr />

<h3>Exercise</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with an content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or
          simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
          (ngClass)</li>
      </ol>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="display()">Display Details</button>
<p *ngIf="isShow">Secret Password</p>
<div *ngFor="let logItem of log;let i=index" [ngStyle]="{background: getColor(i)}" [ngClass]="getClass(i)">{{logItem}} {{i}}</div>
<hr />
